name: Deploy Node Application

on: 
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: Login to docker hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}     
      - name: Build Docker Image
        run: docker build -t karz224/mern-app  ./server
      - name: Publish Image to docker hub
        run: docker push karz224/mern-app:latest 
 
  deploy:
    needs: build
    runs-on: self-hosted 
    steps:
      - name: Pull image from docker hub
        run: docker pull karz224/mern-app:latest 
      - name: Delete old container
        run: docker rm -f mern-app-container  
      - name: Run Docker Container
        run: docker run -d -p 3000:3000 --name mern-app-container -e MONGO_URI='${{ secrets.MONGO_URI }}' karz224/mern-app